.main {
    background-color: var(--beige);
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 2rem;
    height: 81vh;
    padding: 0 1.5%;
}
.main-portreit {
    background-image: url(../img/portreit.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}
.main-portreit img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.main-skills {
    padding-left: 2rem;
    border: 1px solid var(--thistle);
    
}

.main-skills li {
    font-weight: 600;
    line-height: 2;
    font-style: italic;
    transition: transform 0.5s ease;
    cursor: default;
}
.main-skills li:hover {
    transform: scale(0.9);
    color: var(--midnight-blue);
}

a {
    text-decoration: none;
}

a:hover {
    color: var(--midnight-blue);
}

ul {
    list-style-type: none;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    .main {
        grid-template-columns: 1fr;
        height: 100%;
    }
    .main-portreit {
        display: none;
    }
    .main-skills ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    .main-skills ul li {
        margin-right: 5%;
    }
}