.main {
    background-color: var(--beige);
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 2rem;
}

.frame {
    width: 20rem;

}

.portreit {
    width: 15rem;
    position: relative;
    top: -26rem;
    left: 3rem;
}

.main-skills {
    padding-left: 2rem;
    border: 1px solid var(--thistle);
    
}

.main-skills li {
    font-weight: 600;
    line-height: 2;
    font-style: italic;
}

a {
    text-decoration: none;
}

a:hover {
    color: var(--midnight-blue);
}

ul {
    list-style-type: none;
}
