.examples {
    max-width: 90%;
    margin:auto;
    margin-top: 1rem;
    padding: 2% 5%;
    background-color: var(--beige);
    border: 1px solid var(--midnight-blue);
    border-radius: 3rem;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.grid img {
    width: calc(90%);
    margin: calc(5%);
    box-shadow: 0px 2px 7px 3px #00000091;
}