.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 5rem;
    box-shadow: 0px 2px 7px 3px #00000091;
    box-sizing: border-box;
}

.navbar-logo a img{
    width: 100px;
}

.navbar-menu ul {
    display: flex;
    align-items: center;
}

.navbar-menu li {
    margin: 0 1rem;
    font-size: 2rem;
    font-weight: bold;
}

.navbar-logo img:hover {
    box-shadow: -5px 5px 20px var(--english-vermillion);
}

@media (max-width: 682px) {
    .navbar {
        box-shadow: none;
    }
}