body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  width: 100%;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --english-vermillion: #d33f49ff;
  --thistle: #d7c0d0ff;
  --beige: #eff0d1ff;
  --midnight-blue: #18206fff;
  --raisin-black: #262730ff;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  color: var(--raisin-black);
}

h1 {
  color: var(--english-vermillion);
  font-size: 3rem;
  margin-bottom: 1rem;
}

h2 {
  margin-bottom: 1rem;
}

.container {
  max-width: 80rem;
  margin: 1rem auto;
  padding: 0 1rem;
}
